@import './theme.scss';
html {
  background: $grey;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// material icons
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// grid
.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 0px;
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: space-around;
}

.col,
.cols {
  display: inline-flex;
  grid-gap: 0px;
  grid-template-columns: subgrid;
}

.two {
  grid-column: auto / span 2;
}
.three {
  grid-column: auto / span 3;
}
.four {
  grid-column: auto / span 4;
}
.five {
  grid-column: auto / span 5;
}
.six {
  grid-column: auto / span 6;
}
.seven {
  grid-column: auto / span 7;
}
.eight {
  grid-column: auto / span 8;
}
.nine {
  grid-column: auto / span 9;
}
.ten {
  grid-column: auto / span 10;
}
.eleven {
  grid-column: auto / span 11;
}
.twelve {
  grid-column: auto / span 12;
}

@media only screen and (max-width: 550px) {
  .row {
    grid-gap: 0px;
  }
}
